@import url('https://fonts.googleapis.com/css2?family=Yuji+Boku&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior:smooth;
 }
 ul{
    list-style: none;
 }
 header{
    justify-content: space-around;
    align-items:flex-end
 }
 nav{
    text-decoration: none;
    color:inherit;
    display: inline-block;
    font-family: 'Permanent Marker' serif;
    justify-content: flex-end;
 }
 nav li{
    display: inline-block;
    width: 10%;
    margin: 30px;
    padding: 10px;
    flex-direction: row;
    text-decoration: none;
    color: inherit;
    text-align: center;
    align-content:center;
    font-family:'Permanent Marker' serif;
    justify-content: center;
}
body{
    display: inline-block;
    margin:0%;
    justify-content: center;
}
.membrete {
    display: flex;
    width: 33%;
    height: 100%;
   }
#manos {
    width:100%;
    height: 100%;
    background:#14213d;
    font-size: 500%;
    flex:30%;
}
#foto{
    width: 100%;
    max-width: 500px;
    border-radius: 50%;
}
.ident{
    text-align:center;
    flex: 65%;
    font-family: 'Yuji Boku', serif;
    font-size: 150%;
    line-height: 2;
    }

#descripción{
    font-family: 'Kalam', sans-serif;
    line-height: 1.5;
    font-weight: 800;
    letter-spacing: 2;
    font-size: 150%;
    margin: 30px;
}
#cv{
    background-color: #94d2bd;
    width: 20%;
    height: 20%;
    padding: 10px 35px;
    border-radius: 5px;
    font-size: 100%;
    color:#9b2226;
    display: inline;
    justify-content: center;
}
#cv:hover{
    background-color: yellowgreen;
}
#contacto{
    text-align:center;
    flex: 65%;
    font-family: 'Yuji Boku', serif;
    font-size: 200%;
    line-height: 2;
   }
#conta{
    font-family: 'Kalam', sans-serif;
    line-height: 1;
    font-weight: 800;
    letter-spacing: 2;
    font-size: 150%;
    margin: 30px;
}
#font{
    display:flex;
    justify-content: space-around;
    width: 60%;
    max-width: 50px;
    padding: 10px;
}
a {
    text-decoration: none;
    color: inherit;
}
main {
    max-width: 1200px;
    margin: auto;
    align-items: center;
    justify-content: center;
}
footer{
    text-align: center;
    font-family: 'Gloria Hallelujah', cursive;
    font-style: 8px;
    background-color:#9b2226;
    color:#e8e8e4 ;
}

/* Recomendaciones! 
*  - Comenzar desde lo más general y luego ir hacia lo mas específico, asignando primero
*    "estilos generales". Una buena idea sería comenzar por el <body> ;)
*
*  - Recuerden que queremos evitar "repetir código", en CSS usando la cualidad de la herencia
*    podemos setear ciertas propiedades en un elemento padre y dejar que sean heredadas (por ejemplo: font-size)
*
*  - Nadie sabe todas las propiedades CSS de memoria, si no saben como hacer algo no lo recuerdan, la respuesta
*    pueden encontrarla buscando en la web algo como "CSS como hacer ... " o "propiedad css para hacer ..."
*
*  - Usen mucho las herramientas para desarrolladores del navegador para ir
*    probando el CSS que escriben, resolver dudas y problemas.
*
*  - Paciencia, resiliencia y creatividad! No se desanimen, las primeras experiencias maquetando con HTML y CSS
*    pueden ser frustrantes, pero estas habilidades se van desarrollando con la experiencia, es como aprender
*    un trabajo manual, hacer una artesanía, tocar un instrumento musical... la práctica es todo!
*/
