@import url('https://fonts.googleapis.com/css2?family=Yuji+Boku&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
*{
    box-sizing: content-box;
    }
footer{
    text-align: center;
    font-family: 'Gloria Hallelujah', cursive;
    font-style: 8px;
    background-color:#9b2226;
    color:#e8e8e4 ;
}
header{
    background-color:#001219
}
body{
    background-color: #005f73;
}
.membrete {
    display: flex;
    align-items: normal;
    background-color: #0a9396;
}
.imagen {
    display: flex ;
    justify-content:center;
    align-items: center;
    background-color: #0a9396;
    flex: 11%; 
    }
.ident{
    text-align:center;
    background-color: #94d2bd;
    flex: 65%;
    font-family: 'Yuji Boku', serif;
    font-size: 25px;
}
.lista {
    font-size: 18px;
    align-content: end;
    background-color: #ee9b00;
    flex: 24%;
    font-family: 'Permanent Marker', cursive;
    display: inline-block;
    width: 10%;
    padding: 5px 10px;
    border: 1px solid#6d828a;
    text-align: left;
    color: white;
    justify-content: center;
    align-items: center;
    }
.sem{
    display: flex;
    align-items: normal;
    background-color:#9b2226;
}
#semblanza{
    display: flex;
    text-align:justify;
    font-family: 'Kalam', sans-serif;
    font-size: 20px;
    color: #d8e2dc;
    flex: 80%;
    justify-content: center;
    align-items: center;
    margin: 20px;
    }
button {
    width: 200px;
    height: 200px;
    background:#14213d;
    padding: 20px;
    font-size: 100px;
    flex:20%;
}
.contacto, .publicaciones, .habilidades, .extralaboral{
    background-color: #0d1b2a;
    text-align:left;
    font-family: 'Yuji Boku', serif;
    font-size:medium;
    height: 7vb;
    color: #e9d8a6;
    justify-content: right;
    align-items: right;
}
.fa-brands, .fa-regular {
    padding: 5px;
    font-size: 25px;
}
#datos{
    text-align:justify;
    font-family: 'Kalam', sans-serif;
    font-size: 20px;
    color: #edf6f9;
    line-height: 12px;
    justify-content: left;
    align-items: center;
    margin: 5px;
    background-color: #bb3e03;
}
#publi{
    text-align:justify;
    font-family: 'Kalam', sans-serif;
    font-size: 20px;
    color: #14213d;
    line-height: 25px;
    justify-content: left;
    align-items: center;
    margin: 5px;
    background-color: #ca6702; 
}
#saber{
    font-family:  'Ubuntu Condensed', sans-serif;
    font-style: 20px;
    color: "#3a4040";
    line-height: 25px;
    background-color: #f6bd60;
}
main{
    color: #9b2226;
}
